<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <div class="container">
        <br><br>
        <h1 class="display-4">Searching films Data</h1>
        <hr>
        film Name: {{filmnm}}
        <br>
        Gonara:{{category}}
        
</head>
<body>
    
</body>
</html>